h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
list-style-type: none;
}

a {
    text-decoration: none;
}

button: {
    cursor: pointer;
}

.images-styles {
    display: block;
}

.page-header {
    border-bottom: 1px; 
    solid: #e7e9fc;
}

.section-paddings {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 1440px;
    display: flex;
    width: 1158px;
margin: 0 auto; 
padding: 15px; 
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    padding: 24px;
}

.address-list {
    display: flex;
    gap: 40px;
}
.address-list-items {
    display: flex;
    gap: 40px;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.hero-section {
    padding: 188px 0; 
}

.hero-description {
    width: 1440px;
    height: 600;
    border: 10px solid teal;
    padding: 10px;
    box-sizing: border-box;
}

.main-title {
    padding-bottom: 20px;
}

.hero-description {
    margin-top: 60px;
}

.hero {
    margin-bottom: 100px;
    padding-bottom: 50 px;
}

.products {
    padding-top: 50 px;
    padding-bottom: 50 px; 
    background-color: #f4f4fd;;
}

.about-us {
    padding-top: 50 px;
    padding-bottom: 50 px; 
}

.footer-styles {
    padding: 100px 0; 
}
